.logo-header-wrapper {
  display: grid;
  justify-content: center;
  height: 200px;

  .logo-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 175px;
    width: 175px;
   }
}