.nav-bar-wrapper {
  display: grid;
  height: 40px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  background-image: url('../static/assets/images/header_background.jpg');
  background-repeat: no-repeat;

  .nav-bar-button-wrapper {
    display: flex;
    width: 650px;
    justify-content: space-evenly;
    align-items: center;
  }
}