.for-sale-rotating-images {
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;

  .rotating-images-wrapper {
    display: flex;
    height: 700px;
    justify-content: center;
    border: 10px solid;
    border-image-source: url('../static/assets/images/Mixed_Paint_Background.jpg');
    border-image-slice: 30;
    border-image-repeat: repeat;

    .rotating-images {
      display: flex;
    }
  }
}