.welcome-section-wrapper {
  display: grid;
  background: url('../static/assets/images/paint_splatter_background 329px.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;

  .welcome-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 16.5px;

  h2 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
}
  
}



